.event{
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.event-date {
    text-align: center;
}

.event-image {
    width: 80px;
    height: 120px;
}
.event-info {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    font-weight: bold;
}

.event-button {
    border: 1px solid black;
    color: white;
    font-size: 20px;
    background: #3F98E6;
    border-radius: 50px;
    min-width: 100px;
    width: 20%;
    height: 90px;
}